// Variable overrides
//
// If you want to customize your project please add your variables below.

$enable-deprecation-messages: false !default;

.btn-danger {
  --cui-btn-color: #fff !important;
}

.btn-success {
  --cui-btn-color: #fff !important;
}
